.general-btn {
    background: #bbcf3f;
    opacity: 1;
    transition: 0.3s;
    border-radius: 8%;
}
.general-btn:hover {
    opacity: 0.8;
}
.category-btn {
    border-radius: 15% !important;
}

.ct-blog .fauxcrop {
    height: 100%;
    overflow: hidden;
}

.ct-blog .fauxcrop img {
    width: 100%;
}

.contentVa0 {
    direction: rtl;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.contentVa {
    margin-right: 5rem;
}

.contentVa0 img {
    width: 40px;
    margin-top: 20px;
}
#app > main > section:nth-child(5) > div:nth-child(2) > img{
    width: 30px;
}

.chooseEat {
    background-image: radial-gradient(
        120% 120px at 50% 0px,
        #dc3545 75%,
        transparent 75%
    );
}

.chooseClass0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chooseClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chooseClass img {
    width: 500px;
}

.chooseClass h2 {
    width: 330px;
    direction: rtl;
    text-align: start;
}

.chooseEatSuger {
    background-image: radial-gradient(
        120% 120px at 50% 0px,
        #2f2f2f 75%,
        transparent 75%
    );
    direction: rtl;
}

.baitKhairatDate {
    background-image: url("../images/stoneCover.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    direction: rtl;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 200px;
}/* Container holding the image and the text */
.container2 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 150px;
  }

@media only screen and (max-width: 1208px) {
    .baitKhairatDate {
        font-size: medium;
        direction: ltr;
    }
}
.baitKhairatDate h1 {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.baitKhairatDate span button {
    margin-top: 30px;
    padding: 10px;
    background-color: #bbcf3f;
    border-radius: 10px;
}
.baitKhairatDate span button:hover {
    background-color: #b1c627;
}
#menu-nav{
    margin-top: 5%;
}
h1:not(.u-title) {
    margin-top: 5px;
    font-size: 30px;
    
}
.u-button-style{
    padding-top: 50px !important;;
}
@media (max-width: 575px)

{h1:not(.u-title) {
    font-size: 12px;
    margin-left: 15px;
    
}
.centered{
    margin-top: 5px;
    margin-left: 35px;

    width: 100%;
}
#btn{
    display: none;
}
}
@media (min-width: 576px) and (max-width: 991px) {
    h1:not(.u-title) {
        font-size: 18px;
        
    }
    #btn{
        display: none;
    }

}


.porder-none{

    padding: 0 !important;
}